:root {
    --color-bg-darker: #191919;              
    --color-bg-normal: #2f2f2f;
    --color-bg-lighter: #545454;
    --color-text: #e2e2e2;           
    --color-accent: #00d769;          
    --color-active: #008c46;
}

/* Apply box-sizing to all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  
/* all <a> inherit the container’s color */
a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-accent);
}

a:active {
    color: var(--color-active);
}