---

---

<header class="container">
    <a href="/">Home</a>
    <a href="/app">LSM APP</a>
    <a href="/about">About Us</a>
</header>
  
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        padding: 1rem;
        gap: 1rem;

        background-color: #2f2f2f;
    }
</style>
  