<section class="hero">
    <div class="Frame1">
        <h1>Help us build a smarter,<br/>more inclusive future with LSM</h1>
        
        <p class="subheading">
            Contribute to a growing dataset of Mexican Sign Language (LSM) images to help train AI models for real-time communication tools.
        </p>
        
        <p class="body-text">
            Anyone can contribute-just follow the on-screen instructions and upload a photo replicating an LSM sign. Your image could help someone be understood.
        </p>
        <div class="buttons-container">
            <a class="gallery-link" href="/gallery">View Gallery</a>
            <a class="cta-button" href="/app">Upload your Image</a>
        </div>
    </div>
    <img class="main-image" src='/images/2000_5eb5bec257e4a.png' loading="lazy"/>
</section>

<style>
    .hero {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .main-image {
        padding: 0 2rem;
        max-width: 400px;
        height: auto;
    }

    @media (max-width: 760px) {
        .hero {
            flex-direction: column;
        }

        .main-image {
            max-width: 50%;
        }
    }

    .hero h1 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 1.5rem;
    }

    .hero .subheading {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: #cccccc;
    }

    .hero .body-text {
        font-size: 1rem;
        margin-bottom: 1.25rem;
        color: #bbbbbb;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 1.5rem;
        gap: 2rem;

    }

    .cta-button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        color: var(--color-text);
        background-color: var(--color-bg-lighter);
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.2s ease;
    }

    .cta-button:hover {
        background-color: var(--color-accent);
        color: white;
    }

    .gallery-link {
        font-size: 0.95rem;
    }



</style>