---

---
<div class="video-container">
    <video id="webcam" class="camera" autoplay></video>
</div>

<script>
	 const video = document.getElementById('webcam') as HTMLVideoElement;

      async function enableWebcam() {
        try {
			const stream = await navigator.mediaDevices.getUserMedia({ video: true });
			video.srcObject = stream;
			video.src
        } catch (err) {
			console.error('Error accessing webcam:', err);
			alert('Could not access the webcam. Please allow camera permissions.');
        }
      }

      enableWebcam();
</script>

<style>
    .video-container {
        height: 600px;
        background: black;
        overflow: hidden;
        border-radius: 8px;
        border: 4px var(--color-bg-lighter) solid;
    }
    .camera {
        width: 100%;
        height: 100%;
        object-fit: cover;
  }
</style>