---
import Layout from '../layouts/Layout.astro';
import Webcam from '../components/Webcam.astro';
import ControlPanel from '../components/ControlPanel.astro';
---
<Layout>
	<div class="camera-and-options">
		<Webcam/>
		<ControlPanel/>
	</div>


</Layout>

<style>
	.camera-and-options {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		overflow: hidden;

		width: 100%;
		gap: 1rem;
	}

	@media (max-width:960px) {
        .camera-and-options {
            flex-direction: column;
        }
    }

</style>

<script>
	import { enableVideoProcessing, captureSnapshot, enablePreviewToggle } from '../scripts/video-processing.js';

	enableVideoProcessing('webcam', 'overlay');
	enablePreviewToggle('togglePreviewBtn');	
	captureSnapshot('startCapturing');
</script>

